p {
    font-size: xx-large;
    display: block;
    margin-bottom: 25px;
}
input {
    color: rgb(83, 81, 81);
    width: 300px;
    display: block;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border:none;
    background-color: rgba(224, 223, 223, 0.503);
}
button{
    margin-top: 20px;
    margin-right: 10px;
}
.request-now {
    width: 120px;
    height: 40px;
    border-radius: 0;
    border: none;
    background-color: black;
    color: #fff;

}
.scedule-for-later {
    width: 130px;
    height: 40px;
    border-radius: 0;
    border: none;
}
